@inherits Satrabel.OpenContent.Components.OpenContentWebPage

<div class="oc-dnn-attributes">

   <h2>Welcome @Dnn.User.DisplayName</h2>
  
	<blockquote class="text">
	<div class="text">
	@Model.Text
	 <h3>The "@Dnn.Portal.PortalName" team</h3>
	 </div>
	
	</blockquote>
</div>


@*
@ObjectInfo.Print(Dnn)
*@
