<div class="oc-external-data list">
	{{#each Items}}
	<h2><a href="{{Context.DetailUrl}}">{{Title}}&nbsp;&raquo;</a>
	{{#if @root.Context.IsEditable}}{{#unless @root.Settings.SourceDomainName}}<a class="edit-link" href="{{Context.EditUrl}}"><img src="/icons/sigma/Edit_16x16_Gray.png" alt="edit" /></a>{{/unless}}{{/if}}
	</h2>
	<hr>
	{{/each}}
</div>