@inherits Satrabel.OpenContent.Components.OpenContentWebPage



<div class="oc-multiple oc-detail">
   <h1>@Model.Title</h1>
   <div class="oc-text">@Model.Text</div>
   <a class="oc-more"  href="@Model.Context.MainUrl">Back to List &raquo;</a>
   



</div>
