.oc-multiple *{
	box-sizing: border-box;
	
}

.oc-multiple .oc-item-inner{

	padding: 2em 1em;
	text-align: center;
	background: #f4f4f4;
	margin-bottom: 2em;
}
.oc-multiple .oc-title{
	margin-top:0;
	color: #d00;
}

.oc-multiple .sorthandle{
	background: #fff;
	border:solid 1px #ddd;
	display:flex;
	text-align:left;
	padding: 0.3em;

}

.oc-multiple .oc-block-count{
flex-grow: 1;

}

.oc-multiple .sorthandle img{
	border: none;
}

.oc-multiple .oc-more{
	display: inline-block;
	margin-top: 1em;
}