<ul class="oc-multiple">
	{{#each Items}}
		<li>
				<h2>{{Texts.Title}} {{#if Context.IsEditable}} <a class="edit-link" href="{{Context.EditUrl}}"><img src="/icons/sigma/Edit_16x16_Gray.png" alt="edit" /></a>{{/if}}</h2>
				<div class="text">
				{{Texts.Text}}
				</div>
				<address>
				City: {{Address.City}}
				</address>
		</li>
		
	{{/each}}
</ul>
