<div class="oc-single oc-list">
   {{#each Items}}
   <div class="oc-item">
      <div class="oc-item-inner">
         {{#if Title}}
         <h3 class="oc-title">{{Title}}</h3>
         {{/if}}
         {{#if Text}}
         <div class="oc-text">
            {{Text}}
         </div>
         {{/if}}

      </div>
   </div>
   {{/each}}
</div>