<div class="oc-multiple oc-list">  
  {{#each Items}}
  <div class="oc-item">
  <div class="oc-item-inner">
        {{#if Title}}
        <h3 class="oc-title">{{Title}} {{#if Context.IsEditable}}<a class="edit-link" href="{{Context.EditUrl}}"><img src="/icons/sigma/Edit_16x16_Gray.png" alt="edit" /></a>{{/if}}</h3>
        {{/if}}
		{{#if Text}}
		<div class="oc-text">
		{{Text}}
		</div>
		{{/if}}
         
      </div>          	
      </div>          	
   {{/each}}
</div>
