 <div class="sorthandle">
   <span class="oc-block-count">order-@PageData.i.SortIndex</span>
   <a class="oc-edit-link" href="@Model.Context.EditUrl"><img src="/icons/sigma/Edit_16x16_Gray.png"
		 alt="edit" /></a>
   <span class="oc-drag-order" aria-hidden="true" style="cursor: move;cursor: -webkit-grabbing;"><img
		 src="/icons/sigma/DragDrop_15x15_Standard.png" alt="edit" /></span>
</div>