<p>
{{Localization.beforeText}}
</p>
<p class="Text">
{{Text}}
</p>
<p>
{{Localization.afterText}}
</p>

<a href="#" onclick="alert(myAlert)">JS Alert!</a>


<script>
var myAlert = '{{Localization.alert}}';
</script>