.oc-intro-blocks *{
	box-sizing: border-box;
	
}

.oc-intro-blocks .oc-intro{
	text-align:center;
	border-bottom: solid 1px #bbb;
	padding: 1em;
	margin: 1em;
	
}

.oc-intro-blocks  .oc-items{
	 display: flex;
	 flex-wrap:wrap;
	 gap: 1em;
	 padding: 1em;

 }
 
 
 .oc-intro-blocks  .oc-item{
	flex-basis: calc(33.33% - 1em);
 }
 
.oc-intro-blocks .oc-item-inner{
	padding: 2em 1em;
	text-align: center;
	background: #f4f4f4;
	min-height: 100%;
	
}
.oc-intro-blocks .oc-title{
	margin-top:0;
	color: #d00;
}