.oc-table-datatabels .oc-table {

    min-width: 100%;
}

.oc-table-datatabels .oc-table td {
    width: 20%;
}

.oc-table-datatabels .oc-table th {

    font-weight: bold;
    color: #d00;
}

.oc-table-datatabels .oc-table td p,
.oc-table-datatabels .oc-table th p {
    margin-bottom: 0;
}


.oc-table-datatabels .dataTables_filter{
    margin-bottom: 1em;
}