@inherits Satrabel.OpenContent.Components.OpenContentWebPage

<div class="oc-dnn-attributes">



	<blockquote class="text-wrap">
		
		<div class="text">
			<h3 class="oc-title">Dear @Dnn.User.DisplayName:</h3>
			<div class="oc-mssage">@Model.Text</div>
			<h3 class="oc-title oc-title-bottom">The "@Dnn.Portal.PortalName" team</h3>
		</div>

	</blockquote>
</div>


@*
@ObjectInfo.Print(Dnn)
*@
